@charset "UTF-8";
/* line 14, src/scss/_utilities/_extend.scss */
.card__box-header--image img, .card__box-user-ava img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-add-button:before, .icon-arrow:before, .icon-bell:before, .icon-copy:before, .icon-corner-sq:before, .icon-corner:before, .icon-heart-fill:before, .icon-heart:before, .icon-magnifying-glass:before, .icon-pause:before, .icon-play:before, .icon-user:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 71, src/scss/_generated/_spriteFont.scss */
.icon-add-button:before {
  content: "";
}

/* line 71, src/scss/_generated/_spriteFont.scss */
.icon-arrow:before {
  content: "";
}

/* line 71, src/scss/_generated/_spriteFont.scss */
.icon-bell:before {
  content: "";
}

/* line 71, src/scss/_generated/_spriteFont.scss */
.icon-copy:before {
  content: "";
}

/* line 71, src/scss/_generated/_spriteFont.scss */
.icon-corner-sq:before {
  content: "";
}

/* line 71, src/scss/_generated/_spriteFont.scss */
.icon-corner:before {
  content: "";
}

/* line 71, src/scss/_generated/_spriteFont.scss */
.icon-heart-fill:before {
  content: "";
}

/* line 71, src/scss/_generated/_spriteFont.scss */
.icon-heart:before {
  content: "";
}

/* line 71, src/scss/_generated/_spriteFont.scss */
.icon-magnifying-glass:before {
  content: "";
}

/* line 71, src/scss/_generated/_spriteFont.scss */
.icon-pause:before {
  content: "";
}

/* line 71, src/scss/_generated/_spriteFont.scss */
.icon-play:before {
  content: "";
}

/* line 71, src/scss/_generated/_spriteFont.scss */
.icon-user:before {
  content: "";
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff"), url("../fonts/SFProDisplay-Thin.ttf") format("truetype"), url("../fonts/SFProDisplay-Thin.svg#SFProDisplay") format("svg");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay-Ultralight.woff") format("woff"), url("../fonts/SFProDisplay-Ultralight.ttf") format("truetype"), url("../fonts/SFProDisplay-Ultralight.svg#SFProDisplay") format("svg");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype"), url("../fonts/SFProDisplay-Medium.svg#SFProDisplay") format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.ttf") format("truetype"), url("../fonts/SFProDisplay-Light.svg#SFProDisplay") format("svg");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff"), url("../fonts/SFProDisplay-Heavy.ttf") format("truetype"), url("../fonts/SFProDisplay-Heavy.svg#SFProDisplay") format("svg");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.ttf") format("truetype"), url("../fonts/SFProDisplay-Semibold.svg#SFProDisplay") format("svg");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype"), url("../fonts/SFProDisplay-Bold.svg#SFProDisplay") format("svg");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype"), url("../fonts/SFProDisplay-Regular.svg#SFProDisplay") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AndaleMonoMTStd";
  src: url("../fonts/AndaleMonoMTStd.woff2") format("woff2"), url("../fonts/AndaleMonoMTStd.woff") format("woff"), url("../fonts/AndaleMonoMTStd.ttf") format("truetype"), url("../fonts/AndaleMonoMTStd.svg#AndaleMonoMTStd") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AndaleMonoMTStd-Bold";
  src: url("../fonts/AndaleMonoMTStd-Bold.woff2") format("woff2"), url("../fonts/AndaleMonoMTStd-Bold.woff") format("woff"), url("../fonts/AndaleMonoMTStd-Bold.ttf") format("truetype"), url("../fonts/AndaleMonoMTStd-Bold.svg#AndaleMonoMTStd-Bold") format("svg");
  font-style: normal;
  font-weight: normal;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-card, html.is-hideScroll,
body.is-card,
body.is-hideScroll {
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 20px 80px;
  background-color: #191919;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "SF Pro Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 40, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 46, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 53, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 56, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 63, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 73, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 79, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 85, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 91, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 97, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 102, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 110, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 115, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 121, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 126, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 133, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 137, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1, src/scss/_shared/_swiper.scss */
.swiper-container {
  width: 100%;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 24, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 36px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 2em;
          border-radius: 2em;
}

/* line 40, src/scss/_macros/_btn.scss */
.c-btn span {
  position: relative;
  top: 2px;
  text-transform: lowercase;
  font-family: "AndaleMonoMTStd-Bold", sans-serif;
  font-size: 12px;
  letter-spacing: 0;
}

/* line 49, src/scss/_macros/_btn.scss */
.c-btn--blue {
  background-color: #3759f0;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 53, src/scss/_macros/_btn.scss */
.c-btn--blue:active {
  background-color: #1138e3;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 58, src/scss/_macros/_btn.scss */
.c-btn--blue span {
  color: #ffffff;
}

/* line 63, src/scss/_macros/_btn.scss */
.c-btn--white {
  background-color: #ffffff;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 67, src/scss/_macros/_btn.scss */
.c-btn--white:active {
  background-color: #e6e6e6;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 72, src/scss/_macros/_btn.scss */
.c-btn--white span {
  color: #191919;
}

/* line 3, src/scss/_components/_header.scss */
.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #191919;
}

/* line 13, src/scss/_components/_header.scss */
.header.header--card {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

/* line 19, src/scss/_components/_header.scss */
.is-card .header.header--card {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

/* line 27, src/scss/_components/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 58px;
}

/* line 39, src/scss/_components/_header.scss */
.header__back {
  color: #fff;
  font-size: 16px;
}

/* line 44, src/scss/_components/_header.scss */
.header__favorite {
  position: relative;
  width: 20px;
  height: 20px;
}

/* line 51, src/scss/_components/_header.scss */
.header__favorite.is-active .icon-font.icon-heart-fill {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

/* line 60, src/scss/_components/_header.scss */
.header__favorite .icon-font {
  color: #fff;
  font-size: 20px;
}

/* line 64, src/scss/_components/_header.scss */
.header__favorite .icon-font.icon-heart-fill {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #191919;
}

/* line 13, src/scss/_components/_footer.scss */
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}

/* line 18, src/scss/_components/_footer.scss */
.footer__col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  height: 100%;
}

/* line 25, src/scss/_components/_footer.scss */
.footer__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 15px;
}

/* line 34, src/scss/_components/_footer.scss */
.footer__btn.is-active .icon-font {
  color: #f0af36;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 40, src/scss/_components/_footer.scss */
.footer__btn .icon-font {
  color: #474747;
  font-size: 22px;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 3, src/scss/_components/card/_card.scss */
.card {
  height: -webkit-calc(100vh - 80px);
  height: calc(100vh - 80px);
}

/* line 6, src/scss/_components/card/_card.scss */
.card__carousel {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

/* line 16, src/scss/_components/card/_card.scss */
.card__carousel.is-touchMove:before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

/* line 23, src/scss/_components/card/_card.scss */
.card__carousel:after, .card__carousel:before {
  content: '';
  z-index: 10;
  position: absolute;
  left: -22px;
  width: -webkit-calc(100% + 44px);
  width: calc(100% + 44px);
  height: 80px;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

/* line 36, src/scss/_components/card/_card.scss */
.card__carousel:before {
  top: -55px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(25, 25, 25, 0)), color-stop(40%, #191919));
  background-image: -webkit-linear-gradient(bottom, rgba(25, 25, 25, 0) 0%, #191919 40%);
  background-image: -o-linear-gradient(bottom, rgba(25, 25, 25, 0) 0%, #191919 40%);
  background-image: linear-gradient(360deg, rgba(25, 25, 25, 0) 0%, #191919 40%);
}

/* line 41, src/scss/_components/card/_card.scss */
.card__carousel:after {
  bottom: -55px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0)), color-stop(40%, #191919));
  background-image: -webkit-linear-gradient(top, rgba(25, 25, 25, 0) 0%, #191919 40%);
  background-image: -o-linear-gradient(top, rgba(25, 25, 25, 0) 0%, #191919 40%);
  background-image: linear-gradient(180deg, rgba(25, 25, 25, 0) 0%, #191919 40%);
}

/* line 47, src/scss/_components/card/_card.scss */
.card__box {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: auto;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 1px solid #979797;
  background-color: #191919;
}

/* line 60, src/scss/_components/card/_card.scss */
.card__box-header {
  overflow: hidden;
  position: relative;
  left: -25px;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  min-height: 100px;
  height: 357px;
}

/* line 69, src/scss/_components/card/_card.scss */
.card__box-header--image:after {
  content: '';
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(271deg, rgba(25, 25, 25, 0) 25%, #191919 98%);
  background-image: -o-linear-gradient(271deg, rgba(25, 25, 25, 0) 25%, #191919 98%);
  background-image: linear-gradient(179deg, rgba(25, 25, 25, 0) 25%, #191919 98%);
}

/* line 85, src/scss/_components/card/_card.scss */
.card__box-header--audio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 90, src/scss/_components/card/_card.scss */
.card__box-header--audio img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

/* line 99, src/scss/_components/card/_card.scss */
.card__box-body {
  padding: 25px 0 30px;
}

/* line 103, src/scss/_components/card/_card.scss */
.card__box-heading {
  display: none;
  padding-bottom: 20px;
}

/* line 107, src/scss/_components/card/_card.scss */
.card__box-heading .card__box-title {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.1);
}

/* line 113, src/scss/_components/card/_card.scss */
.card__box-audio {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #3759f0;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

@media screen and (max-width: 374px) {
  /* line 113, src/scss/_components/card/_card.scss */
  .card__box-audio {
    width: 45px;
    height: 45px;
  }
}

/* line 128, src/scss/_components/card/_card.scss */
.card__box-audio:active {
  background-color: #1138e3;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 134, src/scss/_components/card/_card.scss */
.card__box-audio.is-play .icon-font {
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

/* line 137, src/scss/_components/card/_card.scss */
.card__box-audio.is-play .icon-font.icon-play {
  opacity: 0;
  visibility: hidden;
}

/* line 141, src/scss/_components/card/_card.scss */
.card__box-audio.is-play .icon-font.icon-pause {
  opacity: 1;
  visibility: visible;
}

/* line 148, src/scss/_components/card/_card.scss */
.card__box-audio .icon-font {
  position: absolute;
  font-size: 21px;
  color: #ffffff;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

@media screen and (max-width: 374px) {
  /* line 148, src/scss/_components/card/_card.scss */
  .card__box-audio .icon-font {
    font-size: 18px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

/* line 160, src/scss/_components/card/_card.scss */
.card__box-audio .icon-font.icon-play {
  margin-left: 2px;
}

/* line 164, src/scss/_components/card/_card.scss */
.card__box-audio .icon-font.icon-pause {
  opacity: 0;
  visibility: hidden;
}

/* line 170, src/scss/_components/card/_card.scss */
.card__box-audio-wrapper {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 160px;
}

/* line 178, src/scss/_components/card/_card.scss */
.card__box-audio-wrapper > div {
  position: relative;
}

/* line 181, src/scss/_components/card/_card.scss */
.card__box-audio-wrapper > div:nth-of-type(1) {
  width: 70px;
}

@media screen and (max-width: 374px) {
  /* line 181, src/scss/_components/card/_card.scss */
  .card__box-audio-wrapper > div:nth-of-type(1) {
    width: 55px;
  }
}

/* line 187, src/scss/_components/card/_card.scss */
.card__box-audio-wrapper > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 195, src/scss/_components/card/_card.scss */
.card__box-audio-duration, .card__box-audio-currentTime {
  position: absolute;
  bottom: -15px;
  font-family: 'AndaleMonoMTStd-Bold', sans-serif;
  font-size: 12px;
  color: #B7B7B7;
}

/* line 204, src/scss/_components/card/_card.scss */
.card__box-audio-duration {
  left: 0;
}

/* line 207, src/scss/_components/card/_card.scss */
.card__box-audio-currentTime {
  right: 0;
}

/* line 212, src/scss/_components/card/_card.scss */
.card__box-title {
  padding-bottom: 19px;
  font-family: "AndaleMonoMTStd-Bold", sans-serif;
  font-size: 22px;
  color: #F0AF36;
  letter-spacing: 0.47px;
  line-height: 24px;
}

/* line 221, src/scss/_components/card/_card.scss */
.card__box-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  min-height: 35px;
  border-top: 1px solid rgba(151, 151, 151, 0.1);
  border-bottom: 1px solid rgba(151, 151, 151, 0.1);
}

@media screen and (max-width: 374px) {
  /* line 221, src/scss/_components/card/_card.scss */
  .card__box-info {
    min-height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* line 235, src/scss/_components/card/_card.scss */
.card__box-info-details, .card__box-info-volume {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 374px) {
  /* line 235, src/scss/_components/card/_card.scss */
  .card__box-info-details, .card__box-info-volume {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* line 246, src/scss/_components/card/_card.scss */
.card__box-info-volume {
  display: none;
}

@media screen and (max-width: 374px) {
  /* line 246, src/scss/_components/card/_card.scss */
  .card__box-info-volume {
    padding-top: 10px;
  }
}

/* line 253, src/scss/_components/card/_card.scss */
.card__box-info u,
.card__box-info span {
  position: relative;
  top: 1px;
  line-height: 1;
}

/* line 260, src/scss/_components/card/_card.scss */
.card__box-info u {
  width: 5px;
  height: 5px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #a9a9b0;
}

/* line 269, src/scss/_components/card/_card.scss */
.card__box-info span {
  font-size: 12px;
  color: #A9A9B0;
}

/* line 273, src/scss/_components/card/_card.scss */
.card__box-info span span {
  position: relative;
  top: 0;
}

/* line 280, src/scss/_components/card/_card.scss */
.card__box-volume {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 16px;
  margin-left: 9px;
  margin-right: 9px;
}

/* line 289, src/scss/_components/card/_card.scss */
.card__box-volume.is-volume-one .card__box-volume-level-1 {
  background-color: #d8d8d8;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 295, src/scss/_components/card/_card.scss */
.card__box-volume.is-volume-two .card__box-volume-level-1,
.card__box-volume.is-volume-two .card__box-volume-level-2 {
  background-color: #d8d8d8;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 302, src/scss/_components/card/_card.scss */
.card__box-volume.is-volume-three .card__box-volume-level-1,
.card__box-volume.is-volume-three .card__box-volume-level-2,
.card__box-volume.is-volume-three .card__box-volume-level-3 {
  background-color: #d8d8d8;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 310, src/scss/_components/card/_card.scss */
.card__box-volume-level {
  width: 3px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: rgba(216, 216, 216, 0.15);
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 317, src/scss/_components/card/_card.scss */
.card__box-volume-level-1 {
  height: 6px;
}

/* line 320, src/scss/_components/card/_card.scss */
.card__box-volume-level-2 {
  height: 11px;
}

/* line 323, src/scss/_components/card/_card.scss */
.card__box-volume-level-3 {
  height: 16px;
}

/* line 329, src/scss/_components/card/_card.scss */
.card__box-add {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 332, src/scss/_components/card/_card.scss */
.card__box-add .icon-font {
  color: #3759f0;
  font-size: 16px;
}

/* line 338, src/scss/_components/card/_card.scss */
.card__box-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 346, src/scss/_components/card/_card.scss */
.card__box-user > div:nth-of-type(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-right: 15px;
}

/* line 352, src/scss/_components/card/_card.scss */
.card__box-user > div:nth-of-type(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 358, src/scss/_components/card/_card.scss */
.card__box-user-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 374px) {
  /* line 358, src/scss/_components/card/_card.scss */
  .card__box-user-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* line 366, src/scss/_components/card/_card.scss */
.card__box-user-details > div:nth-of-type(1) {
  padding-right: 10px;
}

@media screen and (max-width: 374px) {
  /* line 366, src/scss/_components/card/_card.scss */
  .card__box-user-details > div:nth-of-type(1) {
    padding-right: 0;
    padding-bottom: 5px;
  }
}

/* line 373, src/scss/_components/card/_card.scss */
.card__box-user-details > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

@media screen and (max-width: 374px) {
  /* line 373, src/scss/_components/card/_card.scss */
  .card__box-user-details > div:nth-of-type(2) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* line 385, src/scss/_components/card/_card.scss */
.card__box-user-details p {
  font-size: 16px;
  color: #FFFFFF;
}

/* line 390, src/scss/_components/card/_card.scss */
.card__box-user-details span {
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #A9A9B0;
}

/* line 398, src/scss/_components/card/_card.scss */
.card__box-user-details span .icon-font {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  top: -1px;
  color: #f9ac21;
  font-size: 11px;
}

/* line 405, src/scss/_components/card/_card.scss */
.card__box-user-details span .icon-font:last-of-type {
  position: relative;
  left: -2px;
  margin-right: 5px;
}

/* line 414, src/scss/_components/card/_card.scss */
.card__box-user-ava {
  overflow: hidden;
  position: relative;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

/* line 427, src/scss/_components/card/_card.scss */
.card__box-user-btn-group {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 374px) {
  /* line 427, src/scss/_components/card/_card.scss */
  .card__box-user-btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

/* line 438, src/scss/_components/card/_card.scss */
.card__box-user-btn-group .c-btn:not(:last-of-type) {
  margin-right: 15px;
}

@media screen and (max-width: 374px) {
  /* line 438, src/scss/_components/card/_card.scss */
  .card__box-user-btn-group .c-btn:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* line 450, src/scss/_components/card/_card.scss */
.card__box-desc {
  padding-bottom: 25px;
}

/* line 453, src/scss/_components/card/_card.scss */
.card__box-desc p {
  overflow: hidden;
  position: relative;
  max-height: 72px;
  font-size: 12px;
  color: #A9A9B0;
  line-height: 18px;
}

/* line 463, src/scss/_components/card/_card.scss */
.card__box-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'AndaleMonoMTStd-Bold', sans-serif;
  font-size: 12px;
  color: #3554F9;
  line-height: 18px;
}

/* line 471, src/scss/_components/card/_card.scss */
.card__box-link p {
  position: relative;
  top: 1px;
  line-height: 1;
}

/* line 477, src/scss/_components/card/_card.scss */
.card__box-link span {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 19px;
  height: 19px;
  margin-left: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #3554f9;
}

/* line 488, src/scss/_components/card/_card.scss */
.card__box-link span .icon-font {
  font-size: 9px;
  color: #191919;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* line 496, src/scss/_components/card/_card.scss */
.card__box-form {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 25px;
}

/* line 504, src/scss/_components/card/_card.scss */
.card__box-form-field:not(:last-of-type) {
  padding-bottom: 15px;
}

/* line 509, src/scss/_components/card/_card.scss */
.card__box-form-textarea {
  resize: none;
  outline: none;
  position: relative;
  width: 100%;
  height: 72px;
  padding: 10px;
  border: 1px solid #979797;
  background-color: transparent;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  color: #ffffff;
  font-size: 12px;
}

/* line 523, src/scss/_components/card/_card.scss */
.card__box-form-btn {
  margin-left: auto;
}

/* line 529, src/scss/_components/card/_card.scss */
.card__preview {
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  position: fixed;
  top: 58px;
  left: 0;
  width: 100vw;
  height: -webkit-calc(100vh - (58px + 80px));
  height: calc(100vh - (58px + 80px));
  padding-left: 25px;
  padding-right: 25px;
  background-color: #191919;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

/* line 544, src/scss/_components/card/_card.scss */
.is-card .card__preview {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

/* line 550, src/scss/_components/card/_card.scss */
.card__preview .card__box {
  overflow: unset;
  padding-left: 0;
  padding-right: 0;
  border-color: transparent;
}

/* line 556, src/scss/_components/card/_card.scss */
.card__preview .card__box-heading {
  display: block;
}

/* line 559, src/scss/_components/card/_card.scss */
.card__preview .card__box-heading .card__box-title {
  display: block;
}

/* line 564, src/scss/_components/card/_card.scss */
.card__preview .card__box-header {
  left: 0;
  width: 100%;
  height: 230px;
  min-height: 230px;
  max-height: 230px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
}

/* line 573, src/scss/_components/card/_card.scss */
.card__preview .card__box-header--image:after {
  display: none;
}

/* line 577, src/scss/_components/card/_card.scss */
.card__preview .card__box-header--audio {
  display: none;
}

/* line 583, src/scss/_components/card/_card.scss */
.card__preview .card__box-audio-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 588, src/scss/_components/card/_card.scss */
.card__preview .card__box-title {
  display: none;
}

/* line 593, src/scss/_components/card/_card.scss */
.card__preview .card__box-info-volume {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 601, src/scss/_components/card/_card.scss */
.card__preview .card__box-user > div:nth-of-type(2) > .c-btn {
  display: none;
}

@media screen and (max-width: 424px) {
  /* line 607, src/scss/_components/card/_card.scss */
  .card__preview .card__box-user-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 424px) {
  /* line 613, src/scss/_components/card/_card.scss */
  .card__preview .card__box-user-details > div:nth-of-type(1) {
    padding-right: 0;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 424px) {
  /* line 619, src/scss/_components/card/_card.scss */
  .card__preview .card__box-user-details > div:nth-of-type(2) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* line 630, src/scss/_components/card/_card.scss */
.card__preview .card__box-user-btn-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 637, src/scss/_components/card/_card.scss */
.card__preview .card__box-desc p {
  overflow: unset;
  max-height: unset;
}

/* line 644, src/scss/_components/card/_card.scss */
.card__preview .card__box-link span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 649, src/scss/_components/card/_card.scss */
.card__preview .card__box-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 656, src/scss/_components/card/_card.scss */
.card .swiper-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*# sourceMappingURL=maps/app.css.map */
