// FOOTER :: START

footer#footer.footer

	.footer__wrapper
		.footer__col.footer__col-1
			a.footer__btn.is-active(href="#" footer-toggle-js data-id='' data-val='')
				i.icon-font.icon-copy

		.footer__col.footer__col-2
			a.footer__btn(href="#" footer-toggle-js data-id='' data-val='')
				i.icon-font.icon-magnifying-glass

		.footer__col.footer__col-3
			a.footer__btn(href="#" footer-toggle-js data-id='' data-val='')
				i.icon-font.icon-add-button

		.footer__col.footer__col-4
			a.footer__btn(href="#" footer-toggle-js data-id='' data-val='')
				i.icon-font.icon-bell

		.footer__col.footer__col-5
			a.footer__btn(href="#" footer-toggle-js data-id='' data-val='')
				i.icon-font.icon-user

// FOOTER :: END
