// BUTTON :: START

// ==================================================
// ==================================================
// ==================================================

//$bth-width: unset;
$bth-height: 36px;
//$btn-border-width: 1px;
//$btn-border-color: rgba(#3759F0, 1);
$bth-border-radius: 2em;
//$bth-box-shadow: none;
//$bth-background-color: rgba(#3759F0, 1);
//$bth-color: rgba(#fff, 1);
//$bth-font-size: 12px;
//$bth-font-weight: bold;

//$btn-color--border: rgba(#3759F0, 1);

// ==================================================
// ==================================================
// ==================================================

.c-btn {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
	//min-width: 85px;
  //width: auto;
  //max-width: $bth-width;
  height: $bth-height;
	padding-left: 18px;
	padding-right: 18px;
  border: none;
  box-shadow: none;
  border-radius: $bth-border-radius;

	span {
		position: relative;
		top: 2px;
		text-transform: lowercase;
		font-family: "AndaleMonoMTStd-Bold", sans-serif;
		font-size: 12px;
		letter-spacing: 0;
	}

	&--blue {
		background-color: #3759f0;
		@include transition(background-color);

		&:active {
			background-color: darken(#3759f0, 10%);
			@include transition(background-color);
		}

		span {
			color: #ffffff;
		}
	}

	&--white {
		background-color: #ffffff;
		@include transition(background-color);

		&:active {
			background-color: darken(#ffffff, 10%);
			@include transition(background-color);
		}

		span {
			color: #191919;
		}
	}
}

// BUTTON :: END
